/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --text-color: #4d4d4d;
    --hover-color: #37a1f2;
    --bg-color: #e9e4f3;
    --secon-bg-color: #12f7ff;
    --big-font: 3.0rem;
    --norma-font: 2rem;
    --neon-box-shadow: 0 0.5rem #12f7ff;
    --h2--font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
        0 0 20px rgba(18, 247, 255, 0.3),
        0 0 30px rgba(18, 247, 255, 0.3),
        0 0 40px rgba(18, 247, 255, 0.3),
        0 0 70px rgba(18, 247, 255, 0.3),
        0 0 80px rgba(18, 247, 255, 0.3),
        0 0 100px rgba(18, 247, 255, 0.3),
        0 0 150px rgba(18, 247, 255, 0.3);
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color)
}

.container {
    background-color: #fafafc;
    width: 90%;
    padding: 3px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 40px;
    margin-left: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    padding: 20px 10%;
}

.logo {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

span {
    color: var(--hover-color);
}

/* Format of the Navigation list */
.navlist {
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;

}

.navlist a {
    color: var(--text-color);
    font-weight: 500;
    padding: 6px 15px;
    justify-content: space-between;
    letter-spacing: 0.5px;
    transition:.5s;
    text-decoration: none;
    border-top: 2px solid grey;
    border-bottom: 2px solid black;
    border-radius: 20px;
    z-index: -1;
    opacity: 3;
    transform: scale(0) translateY(30px);
    transition: .3s linear;
}
 
.navlist a:hover {
    color: #0ef;
transform: scale(1) translateY(0);
opacity: 0;
transform: translateY(-35px);

}
  


#menu-icon {
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: transparent;
    border-radius: 5px;
    color: #37a1f2;
    display: none;
}

.contact-button {
    padding: 3px;
    background-color: transparent;
    color: #fbfbfd;
    /* border:1px solid; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60px;
    cursor: pointer;
    text-decoration: solid;

}

.contact-button :hover {
    margin-bottom: 1px;
    color: var(--hover-color);

}
.home{
    min-height: 80px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap:5em;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
        padding:3px ;
        margin: 5px;

}
.change-text{
    font-size: 2.0rem;
    font-weight: 600;
    padding: 3px;
        margin: 5px;

}
.change-text h3{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}
.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;

}

.change-text h3 .word .letter{
    transform-origin: center center 25px;
}
.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}
 .change-text h3 .word .letter.in{
    transition: 0.01s ease;
}
 /* .change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}  */


.home-content p{
    line-height: 1.0;
    padding:8px ;
    font-size: 1.5rem;
}