/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* The Styles that are applied to the whole page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    cursor: pointer;
}

:root {
    --text-color: #4d4d4d;
    --hover-color: #37a1f2;
    --bg-color: #e9e4f3;
    --secon-bg-color: #12f7ff;
    --big-font: 3.0rem;
    --norma-font: 2rem;
    --neon-box-shadow: 0 0.5rem #12f7ff;
    --h2--font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
        0 0 20px rgba(18, 247, 255, 0.3),
        0 0 30px rgba(18, 247, 255, 0.3),
        0 0 40px rgba(18, 247, 255, 0.3),
        0 0 70px rgba(18, 247, 255, 0.3),
        0 0 80px rgba(18, 247, 255, 0.3),
        0 0 100px rgba(18, 247, 255, 0.3),
        0 0 150px rgba(18, 247, 255, 0.3);
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color)
}

.container {
    background-color: #fafafc;
    width: 90%;
    padding: 3px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 40px;
    margin-left: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    padding: 20px 10%;
}

.logo {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

span {
    color: var(--hover-color);
}

/* Format of the Navigation list */
.navlist {
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;

}

.navlist a {
    color: var(--text-color);
    font-weight: 500;
    padding: 6px 15px;
    justify-content: space-between;
    letter-spacing: 0.5px;
    transition: .5s;
    text-decoration: none;
    border-top: 2px solid grey;
    border-bottom: 2px solid black;
    border-radius: 20px;
    z-index: -1;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* opacity: 2; */
}

.navlist a:hover {
    color: #0ef;
    transform: translateY(-20px);
    /* opacity: 0; */
    /* transform: scale(1) translateY(0); */


}



#menu-icon {
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: transparent;
    border-radius: 5px;
    color: #37a1f2;
    display: none;
}

.contact-button {
    padding: 3px;
    background-color: transparent;
    color: #fbfbfd;
    /* border:1px solid; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60px;
    cursor: pointer;
    text-decoration: solid;

}

.contact-button :hover {
    margin-bottom: 1px;
    color: var(--hover-color);

}

.home {
    margin: 30px;
    min-height: 80px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 5em;
    animation: slideinleft 1s ease-in both;
}

@keyframes slideinleft {
    from {
        transform: translate(-300px);
    }

    to {
        transform: translate(0);
    }
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: var(--big-font);
    font-weight: 700;
    padding: 3px;
    margin: 5px;

}

.change-text {
    font-size: 2.0rem;
    font-weight: 600;
    padding: 3px;
    margin: 5px;

}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;

}

.change-text h3 .word .letter {
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
    transition: 0.01s ease;
}

/* .change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}  */


.home-content p {
    line-height: 1.0;
    padding: 8px;
    font-size: 1.5rem;
}

.text {
    font-size: 1.5rem;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    background: #e9eaf3;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 80%;
    padding: 20px;
    margin: 20px;
    cursor: pointer;

}

.text:hover {
    transition: 1s ease-in-out;
    color: #37a1f2;
}

.text span {
    transition: 1s ease-in-out;
}

.text span:hover {
    color: black;

}

.social-media {
    display: flex;
    gap: 20px;
    margin: 1rem;
    position: relative;

}

.social-media a {
    border: 2px solid #37a1f2;
    display: inline-flex;
    border-radius: 100%;
    background: #d4d7df;
    color: #0a0a0a;
    font-size: 1.8rem;
    height: 3.2rem;
    width: 3.2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    justify-items: center;
    transition: 500ms ease;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: 7;
    /* animation-delay: 1s; */
    box-shadow: 0 0 0.3rem #37a1f2;
}

.social-media a:hover {
    background: #37a1f2;
    color: #f0f0f0;
    overflow: hidden;
    scale: 0.3;
}

@keyframes spin {
    0% {}

    50% {
        scale: 0.5;
    }

    100% {
        transform: rotate(360deg);
        scale: 0.5;
    }
}

.button {
    display: inline-block;
    padding: 10px 25px;
    background: #37a1f2;
    border: 2px solid #37a1f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #f0f0f0;
    transition: 1s ease;
    z-index: 1;
    box-shadow: 0 0 0.3rem #37a1f2;

}

.button:hover {
    background: transparent;
    color: #37a1f2;
    scale: 0.1;
    transform: translateY(10px);

}

.home-image {
    position: relative;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 100%;
    height: auto;
    max-width: 350px;
}

/* The styling for the About me section on the home page */
.about-content {
    background: #e9ebf3;
    margin-top: 115px;
}

.title {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.0rem;
}

.title h1 {
    color: #f77b1d;
}

.title h2 {
    color: #c7c6c9;
    transition: 500ms;
}

.title h2:hover {
    color: plum;
    transform: translate(-10px);
}

/* Styling for the container section */
.main-container {
    min-height: 800px;
    width: 90%;
    border-radius: 45px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    margin-left: 70px;
    padding: 25px;
    animation: slideinleft;

}

@keyframes slideinleft {
    from {
        transform: translate(-300px);
    }

    to {
        transform: translate(0);
    }
}

.box-1 {
    position: relative;
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    /* border: 2px solid #37a1f2; */
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    animation: forwards;



}

/* 

.box-1::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#00ccff,#d500f9);
    animation: rotate 4s linear infinite;
}

.box-1::after{
    content: '';
    position: absolute;
    background: transparent;
    inset: 5px;
    border-radius: 16px;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */

.box-1 h3 {
    font-size: 25px;
    transition: 1s;
}

.box-1 h3:hover {
    color: #37a1f2;
    transform: translateY(-10px);
    animation: forwards;
}

.box-1 p {
    max-width: 300px;
    font-size: larger;
    margin-top: 5px;
    transition: 500ms ease-in;
    animation-duration: 3s;
}


.box-1 p:hover {
    color: #37a1f2;
    transform: translateY(20px);
}


.box-2 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.box-2 h3 {
    font-size: 25px;
    transition: 1s;
}

.box-2 h3:hover {
    color: #5cf237;
    transform: translateY(-10px);
    animation: forwards;
}

.box-2 p {
    max-width: 300px;
    transition: 3s;
    margin-top: 5px;

}


.box-2 p:hover {
    color: #5cf237;
    transform: translateY(20px);
}

.box-3 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.box-3 h3 {
    font-size: 25px;
    transition: 1s;
}

.box-3 h3:hover {
    color: #3610c0ad;
    transform: translateY(-10px);
    animation: forwards;
}

.box-3 p {
    max-width: 300px;
    transition: 3s;
    margin-top: 5px;

}


.box-3 p:hover {
    color: #3610c0ad;
    transform: translateY(20px);
}

.box-4 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;

    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.box-4 h3 {
    font-size: 25px;
    transition: 1s;
}

.box-4 h3:hover {
    color: #f237b4;
    transform: translateY(-10px);
    animation: forwards;
}

.box-4 p {
    max-width: 300px;
    transition: 3s;
    margin-top: 5px;

}


.box-4 p:hover {
    color: #f237b4;
    transform: translateY(20px);
}

.box-5 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.box-5 h3 {
    font-size: 22px;
    transition: 1s;
}

.box-5 h3:hover {
    color: rgb(224, 8, 8);
    transform: translateY(-10px);
    animation: forwards;
}

.box-5 p {
    max-width: 300px;
    transition: 3s;
    margin-top: 5px;

}


.box-5 p:hover {
    color: rgb(224, 8, 8);
    transform: translateY(20px);
}

.box-6 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.box-6 h3 {
    font-size: 22px;
    transition: 1s;
}

.box-6 h3:hover {
    color: #f2c637;
    transform: translateY(-10px);
    animation: forwards;
}

.box-6 p {
    max-width: 300px;
    transition: 2s;
    margin-top: 5px;

}


.box-6 p:hover {
    color: #f2c637;
    transform: translateY(20px);
}

.info {
    font-size: larger;
    font-weight: 800px;
}

.info:hover {
    text-transform: capitalize;
}

.box-7 {
    height: 330px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.box-7 h3 {
    font-size: 22px;
    transition: 1s;
}

.box-7 h3:hover {
    color: rgb(163, 5, 163);
    transform: translateY(-10px);
}

.box-7 p {
    max-width: 300px;
    transition: 2s;
    margin-top: 5px;

}


.box-7 p:hover {
    color: rgb(163, 5, 163);
    transform: translateY(20px);
}

/* Styling of the Skills and Technology section */
.skills-container {
    width: 100%;
    height: 50%;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 35px;
}

.title-2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.0rem;
}

.title-2 h1 {
    color: #0ac733;
    transition: 2s;
}

.title-2 h1:hover {
    transform: translateY(-10px);
}

.title-2 h3 {
    color: #c7c6c9;
    transition: 500ms;
    font-size: 1.6rem;
}

.title-2 h3:hover {
    color: plum;
    transform: translate(-20px);
}

/* the skills icons */
.skills-icons {
    display: flex;
    gap: 20px;
    margin: 1rem;
    position: relative;
    justify-content: center;
}



.skills-icons a {
    border: 2px solid #8d8e8f;
    display: inline-flex;
    border-radius: 40px;
    padding: 40px;
    margin: 30px;
    background: #d4d7df;
    color: #0a0a0a;
    font-size: 3.0rem;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    justify-items: center;
    transition: 500ms ease;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: 2;
    /* animation-delay: 1s; */
}

.skills-icons a:hover {
    background: #37a1f2;
    color: #f0f0f0;
    overflow: hidden;
}

@keyframes spin {
    0% {}

    50% {
        scale: 0.5;
    }

    100% {
        transform: rotate(360deg);
        scale: 0.5;
    }
}

/* Footer Styling */
.title-3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.0rem;
}

.title-3 h1 {
    color: #37a1f2;
    transition: 2s;
}

.title-3 h1:hover {
    transform: translateY(-10px);
}

.title-3 h2 {
    color: #c7c6c9;
    transition: 500ms;
    font-size: 1.6rem;
}

.title-3 h2:hover {
    color: plum;
    transform: translate(-20px);
}

.section-footer {
    background: #ffffff;
    /* background-image: url(images/footer_image.png); */
    width: 100%;
    height: 90%;
    padding: 60px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation: forwards;
    animation-duration: 3s;

}


/* About section css */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5em;
    background: #c7c6c9;
    padding: 40px;
    margin: 40px;
    border-radius: 45px;
}

.about .img-about {
    text-align: center;
    position: relative;
}

.about .img-about img {
    max-width: 400px;
    height: auto;
    border-radius: 45px;

}

.about-content1 {
    padding: 40px;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    background: transparent;
}





.about-content1 span {
    color: #0ac733;
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: solid;
    text-shadow: #0ac733;
    transition: 2s;
}

.about-content1 span:hover {
    color: #4d504e;
    transform: translateY(-20px);

}

.about-content1 h1 {
    color: var(--hover-color);
    font-weight: 700;
    font-size: 2.0rem;
    transition: 2s;
}


.about-content1 h1:hover {
    color: gray;
    transform: translateY(20px);
}

.about-content1 p {
    color: #4d4d4d;
    margin: 1.5rem;
    animation: forwards;
    animation-duration: 3s;
    font-size: larger;
    transition: 2s;
}

.about-content1 p:hover {
    color: #3610c0ad;
    transform: translateY(20px);
}




.two-icons {
    margin-top: 30px;
}

.info-about1 {
    font-size: 1.0rem;
    position: absolute;
    background: var(--bg-color);
    width: 60px;
    height: 50px;
    padding: 8px;
    display: block;
    border-radius: 69% 31% 64% 34% / 21% 30% 70% 79%;
    border: 1px solid #37a1f2;
    outline: 2px solid #d4d7df;
    animation: morph 6s linear infinite;
    z-index: 100;
    animation-duration: 2s;
}

.info-about1 {
    left: 5%;
    top: 65%;
}

.info-about1:hover {
    color: #37a1f2;
    animation: forwards;
}


.info-about1 p {
    margin-top: 8px;
    padding: 10px;
    top: 80%;
    transition: 3s;
    text-align: center;
    text-shadow: #37a1f2;
    text-decoration: solid;
    color: #3b3d3c;
}

.info-about1 p:hover {
    animation: forwards;
    color: #036318;
    transform: translateY(10px);

}


.info-about2 {
    font-size: 1.0rem;
    position: absolute;
    background: var(--bg-color);
    width: 60px;
    height: 50px;
    padding: 8px;
    display: block;
    border-radius: 69% 31% 64% 34% / 21% 30% 70% 79%;
    border: 1px solid #37a1f2;
    outline: 2px solid #d4d7df;
    animation: morph 6s linear infinite;
    z-index: 100;
}

.info-about2 {
    left: 70%;
    top: 5%;
}

.info-about2 p {
    margin-top: 10px;
    padding: 10px;
    top: 80%;
    transition: 3s;
    text-align: center;
    text-shadow: #37a1f2;
    text-decoration: solid;
    color: #3b3d3c;

}


.info-about2 p:hover {
    animation: forwards;
    color: #036318;
    transform: translateY(10px);

}

@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    30% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    60% {
        border-radius: 100% 60% 60% 100%/ 100% 100% 60% 60%;
    }

    80% {
        border-radius: 69% 31% 66% 34% /21% 30% 70% 79%;
    }
}

.btn-box-1 {
    display: inline-block;
    padding: 10px 25px;
    background: #37a1f2;
    border: 2px solid #37a1f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #f0f0f0;
    transition: 1s ease;
    /* z-index: 1; */
    box-shadow: 0 0 0.3rem #37a1f2;

}

.btn-box-1:hover {
    background: transparent;
    color: #37a1f2;
    /* scale: 0.1; */
    transform: translateY(10px);

}


/* Styling of the Services Page  */
.services-main-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* grid-gap: 1em; */
    background: transparent;
    padding: 20px;
    margin: 20px;
    border-radius: 45px;

}


.services {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    grid-gap: 1.2em;
    background: transparent;
    padding: 30px;
    margin-left: 40px;
    border-radius: 45px;

}

.title-5 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
}

.title-5 h1 {

    transition: 2s;
}

.title-5 h1:hover {
    transform: translateY(-10px);
    color: #37a1f2;
}

.services p {
    color: #4f4e50;
    transition: 500ms;
    font-size: 1.0em;
}

.services p:hover {
    color: #56d480;
    transform: translate(-20px);
}




.services-container {
    min-height: 1000px;
    width: 90%;
    border-radius: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* flex-direction: column; */
    justify-content: right;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    margin-top: 30px;
    padding: 35px;
    animation: slideinleft;
    box-sizing: border-box;
    background-image: url(images/Office_image.png);
    background-repeat: repeat-y;
    background-size: auto;
}

.Office_image.png {
    border-radius: 50%;
    gap: 1opx;
}

@keyframes slideinleft {
    from {
        transform: translate(-300px);
    }

    to {
        transform: translate(0);
    }
}

.service-box1 {
    height: 100%;
    width: 50%;
    background: #d6d2dd;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}



.service-box1 h2 {
    font-size: 25px;
    transition: 1s;
}

.service-box1 h2:hover {
    color: #5cf237;
    transform: translateY(-10px);
    animation: forwards;
}

.service-box1 p {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;

}

.service-box1 p:hover {
    color: #5cf237;
    transform: translateY(-10px);
    animation: forwards;
}

.service-box1 ul {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;
}

.service-box1 ul:hover {
    color: #5cf237;
    transform: translateY(10px);
    animation: forwards;
}


.service-box2 {
    height: 100%;
    width: 50%;
    background: #d6d2dd;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}



.service-box2 h2 {
    font-size: 25px;
    transition: 1s;
}

.service-box2 h2:hover {
    color: rgb(241, 15, 241);
    transform: translateY(-10px);
    animation: forwards;
}

.service-box2 p {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;

}

.service-box2 p:hover {
    color: rgb(241, 15, 241);
    transform: translateY(-10px);
    animation: forwards;
}

.service-box2 ul {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;
}

.service-box2 ul:hover {
    color: rgb(241, 15, 241);
    transform: translateY(10px);
    animation: forwards;
}



.service-box3 {
    height: 100%;
    width: 50%;
    background: #d6d2dd;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}



.service-box3 h2 {
    font-size: 25px;
    transition: 1s;
}

.service-box3 h2:hover {
    color: rgb(89, 89, 247);
    transform: translateY(-10px);
    animation: forwards;
}

.service-box3 p {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;

}

.service-box3 p:hover {
    color: rgb(89, 89, 247);
    transform: translateY(-10px);
    animation: forwards;
}

.service-box3 ul {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;
}

.service-box3 ul:hover {
    color: rgb(89, 89, 247);
    transform: translateY(10px);
    animation: forwards;
}


.service-box4 {
    height: 100%;
    width: 50%;
    background: #d6d2dd;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}



.service-box4 h2 {
    font-size: 25px;
    transition: 1s;
}

.service-box4 h2:hover {
    color: rgb(240, 240, 61);
    transform: translateY(-10px);
    animation: forwards;
}

.service-box4 p {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;

}

.service-box4 p:hover {
    color: rgb(240, 240, 61);
    transform: translateY(-10px);
    animation: forwards;
}

.service-box4 ul {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;
}

.service-box4 ul:hover {
    color: rgb(240, 240, 61);
    transform: translateY(10px);
    animation: forwards;
}


.service-box5 {
    height: 100%;
    width: 50%;
    background: #d6d2dd;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}



.service-box5 h2 {
    font-size: 25px;
    transition: 1s;
}

.service-box5 h2:hover {
    color: rgb(241, 69, 69);
    transform: translateY(-10px);
    animation: forwards;
}

.service-box5 p {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;

}

.service-box5 p:hover {
    color: rgb(241, 69, 69);
    transform: translateY(-10px);
    animation: forwards;
}

.service-box5 ul {
    max-width: 400px;
    transition: 1s;
    margin-top: 5px;
    text-align: center;
}

.service-box5 ul:hover {
    color: rgb(241, 69, 69);
    transform: translateY(10px);
    animation: forwards;
}


.img-about2 {
    text-align: center;
    position: relative;
}


.img-about2 img {
    max-width: 900px;
    height: 5000px;
    height: auto;
    border-radius: 45px;

}

.service-box {
    border: 2px solid;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 50%;
    transition: 1s;
    animation: forwards;
    margin-bottom: 15px;

}

.service-box:hover {
    background: #37a1f2;
    color: #ffff;
    transform: translateY(-10px);

}


/* Styling of the Skills  */

.skills {
    background: #d6d2dd;
    padding: 30px;
    margin: 30px;
    border-radius: 45px;

}

.main-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 30px;
}

.main-text h1 {
    transition: 2s;
}

.main-text h1:hover {
    transform: translateY(-10px);
    color: #37a1f2;
}

.main-text h2 {
    font-size: 20px;
}

.main-text h2:hover {
    text-decoration: underline;
    color: #0ac733;
}

.skills-main {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    padding: 50px;
    margin: 40px;
}

.skill-bar {
    margin-bottom: 2.0rem;
}

.skills-main h3 {
    margin-bottom: 2rem;
    font-size: 20px;
    text-align: center;
    color: #37a1f2;
    transition: 2s;
}

.skills-main h3:hover {
    color: #ffffff;
    transform: translateY(-10px);
}

/* 
.skill-left  */
.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 10px;
    border-radius: 25px;
    margin-top: 18px;
    background-color: #240720;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #37a1f2;
    border-radius: 30px;
    box-shadow: #12f7ff;
    padding: 5px;
}

.skill-bar .bar .html {
    width: 72%;
    animation: html 3s;
}

.skill-bar .bar .figma {
    width: 80%;
    animation: figma 4s;

}

.skill-bar .bar .javascript {
    width: 65%;
    animation: javascript 5s;

}

.skill-bar .bar .CSS {
    width: 75%;
    animation: CSS 6s;

}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 72%;
    }
}


@keyframes figma {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}


@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

@keyframes CSS {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

/* skill right */

.professional {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.boxed-main {
    padding: 20px;
    margin: 20px;
}

.boxed-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxed-sub h3 {
    border-style: double solid;
    border: 2px solid #240720;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 24px;
}

.boxed-sub h3:hover {
    border-color: #37a1f2;
}

.boxed-sub p {
    font-size: 20px;
    color: #37a1f2;
    transition: 2s;
}

.boxed-sub p:hover {
    transform: translateY(-15px);
    color: #fff;
}

/*.boxed-sub{
    text-align: center;
    color: #fff;
    font-size: 1rem;
}
.boxed-sub big{
font: 400;
letter-spacing: 1px;
position: absolute;
top:40%;
left:50%;
transform: translate(-50%, -50%);
}

.boxed-sub small{
    display: block;
    font-weight: 600;
} */
/* to be done after i learn Java to the fullest */
/* 
.circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

.circle .points{
    width: 2px;
    height: 10px;
    background-color: #fff;
    position:absolute;
    border-radius: 2px;
    transform: rotate(calc(var(--i)*var(--rot)))translateY(-45px);
animation:glow 0.4s linear forwards ;
animation-delay: calc(var(--i)*0.05s);
}

@keyframes glow{
    0%{
        background:rgb(102, 102, 231) ;
        box-shadow: none;
    }
    100%{
        background:#37a1f2 ;
        box-shadow: #0ef;
    }
} */

/*  */

/* Styling of the Portfolio page */
.portfolio {
    background: #a9a9aa;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    height: 100%;
    padding-bottom: 40px;

}

.main-info {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.main-info h2 {
    color: #081a27;
    font-size: 35px;
}

.heading {
    font-size: 20px;
    color: #081a27;

}

.main-info p {
    color: #081a27;
    font-size: 23px;

}


.portfolio h2 {
    margin-bottom: 1.3rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.0rem;


}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #37a1f2;
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .3s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}


.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0), #12f7ff);
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition: .5s ease;
    /* opacity: 0; */
}

.portfolio-box:hover .portfolio-layer {
    transform: translate(0);
}


.portfolio-layer h3 {
    font-size: 1.6em;
    color: #fff;
}

.portfolio-layer p {
    color: #fff;
    font-size: 1.0rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fff;
}

.portfolio-layer a i {
    font-size: large;
}

/* Styling of the Contact  */
.contact {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* grid-gap: 1em; */
    background: transparent;
    padding: 20px;
    margin: 20px;
    border-radius: 45px;
    background: transparent;
}

.main-contact-info {
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 25px;
    /* border: 2px black solid; */
    background: #c8c9cc;
    border-radius: 40px;
}

.main-contact-info h2 {
    font-size: 40px;
    color: #414344;

}

.main-contact-info h2:hover {
    color: #37a1f2;
    transition: 3s;
    scale: 0.9;

}

.main-contact-info span {
    font-size: 25px;
    transition: 3s;
    transform: translateX(-20px);

}

.main-contact-info span:hover {
    animation: forwards;
    color: #fff;
}

.main-contact-info p {
    color: #081a27;
    font-size: 18px;
}

/* Styling ofthe contact section */
.contact-section {
    display: flex;
    gap: 60px;
    align-self: center;
    justify-content: center;
    padding: 40px;
    margin: 40px;
    background: transparent;
}

.contact-box {
    padding: 40px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    width: 500px;
    height: 600px;
    gap: 20px;
}

.contact-box h2 {
    font-size: 28px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email-part {
    justify-content: left;
    align-items: center;
    text-align: left;
}

.email-icon a {
    padding: 10px;
    font-weight: 500;

    color: #414344;
    font-size: 20px;
}

.email-part p {
    color: #414344;
    font-size: 18px;
    font-weight: 500;

}

.phone-part {
    justify-content: left;
    align-items: center;
    text-align: left;
}

.phone-icon a {
    padding: 10px;
    font-weight: 500;

    color: #414344;
    font-size: 20px;
}

.phone-part p {
    color: #414344;
    font-size: 18px;
    font-weight: 500;

}

.location-part {
    justify-content: left;
    align-items: center;
    text-align: left;
}

.location-icon a {
    padding: 10px;

    color: #414344;
    font-size: 20px;
    font-weight: 500;

}

.location-part {
    color: #414344;
    font-size: 18px;
    font-weight: 500;

}

.Message-box {
    padding: 40px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    width: 500px;
    height: 600px;
}

.Message-box h3 {
    font-size: 23px;
}

form {
    margin: 10px;
    padding: 15px;
}

label {
    font-size: 18px;
    font-weight: 500;
    color: #444;
}

input {
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #dbdbdb;
    transition: border-color 0.2s;
    box-shadow: 0.2s;
}

button{
    background: #37a1f2;
    color: #fff;
    padding: 14px 28px;
    border-radius: 30px;
    display: inline-flex;
    border: none;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: "poppins", sans-serif;
    cursor: pointer;
    transition: 0.25s;
}

button:hover{
    background-color: #3d68df;
    transform: translateY(-5px);
    color: #444;
    filter: brightness(0.9);
    box-shadow: 0 10px 15px -3px rgba(37, 99,235,0.4);
}