/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* The Styles that are applied to the whole page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    cursor: pointer;
}

:root {
    --text-color: #4d4d4d;
    --hover-color: #37a1f2;
    --bg-color: #e9e4f3;
    --secon-bg-color: #12f7ff;
    --big-font: 3.0rem;
    --norma-font: 2rem;
    --neon-box-shadow: 0 0.5rem #12f7ff;
    --h2--font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
        0 0 20px rgba(18, 247, 255, 0.3),
        0 0 30px rgba(18, 247, 255, 0.3),
        0 0 40px rgba(18, 247, 255, 0.3),
        0 0 70px rgba(18, 247, 255, 0.3),
        0 0 80px rgba(18, 247, 255, 0.3),
        0 0 100px rgba(18, 247, 255, 0.3),
        0 0 150px rgba(18, 247, 255, 0.3);
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color)
}

.container {
    background-color: #fafafc;
    width: 90%;
    padding: 3px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 40px;
    margin-left: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    padding: 20px 10%;
}

.logo {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

span {
    color: var(--hover-color);
}

/* Format of the Navigation list */
.navlist {
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;

}

.navlist a {
    color: var(--text-color);
    font-weight: 500;
    padding: 6px 15px;
    justify-content: space-between;
    letter-spacing: 0.5px;
    transition: .5s;
    text-decoration: none;
    border-top: 2px solid grey;
    border-bottom: 2px solid black;
    border-radius: 20px;
    z-index: -1;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /* opacity: 2; */
}

.navlist a:hover {
    color: #0ef;
    transform: translateY(-20px);
    /* opacity: 0; */
    /* transform: scale(1) translateY(0); */


}



#menu-icon {
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: transparent;
    border-radius: 5px;
    color: #37a1f2;
    display: none;
}

.contact-button {
    padding: 3px;
    background-color: transparent;
    color: #fbfbfd;
    /* border:1px solid; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60px;
    cursor: pointer;
    text-decoration: solid;

}

.contact-button :hover {
    margin-bottom: 1px;
    color: var(--hover-color);

}

.home {
    margin: 30px;
    min-height: 80px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 5em;
    animation: slideinleft 1s ease-in both;
}

@keyframes slideinleft {
    from {
        transform: translate(-300px);
    }

    to {
        transform: translate(0);
    }
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: var(--big-font);
    font-weight: 700;
    padding: 3px;
    margin: 5px;

}

.change-text {
    font-size: 2.0rem;
    font-weight: 600;
    padding: 3px;
    margin: 5px;

}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;

}

.change-text h3 .word .letter {
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
    transition: 0.01s ease;
}

/* .change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}  */


.home-content p {
    line-height: 1.0;
    padding: 8px;
    font-size: 1.5rem;
}

.text {
    font-size: 1.5rem;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    background: #e9eaf3;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 80%;
    padding: 20px;
    margin: 20px;
    cursor: pointer;

}

.text:hover {
    transition: 1s ease-in-out;
    color: #37a1f2;
}

.text span {
    transition: 1s ease-in-out;
}

.text span:hover {
    color: black;

}

.social-media {
    display: flex;
    gap: 20px;
    margin: 1rem;
    position: relative;

}

.social-media a {
    border: 2px solid #37a1f2;
    display: inline-flex;
    border-radius: 100%;
    background: #d4d7df;
    color: #0a0a0a;
    font-size: 1.8rem;
    height: 3.2rem;
    width: 3.2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    justify-items: center;
    transition: 500ms ease;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: 7;
    /* animation-delay: 1s; */
    box-shadow: 0 0 0.3rem #37a1f2;
}

.social-media a:hover {
    background: #37a1f2;
    color: #f0f0f0;
    overflow: hidden;
    scale: 0.3;
}

@keyframes spin {
    0% {}

    50% {
        scale: 0.5;
    }

    100% {
        transform: rotate(360deg);
        scale: 0.5;
    }
}

.button {
    display: inline-block;
    padding: 10px 25px;
    background: #37a1f2;
    border: 2px solid #37a1f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #f0f0f0;
    transition: 1s ease;
    z-index: 1;
    box-shadow: 0 0 0.3rem #37a1f2;

}

.button:hover {
    background: transparent;
    color: #37a1f2;
    scale: 0.1;
    transform: translateY(10px);

}

.home-image {
    position: relative;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 100%;
    height: auto;
    max-width: 350px;
}

/* The styling for the About me section on the home page */
.about-content {
    background: #e9ebf3;
    margin-top: 115px;
}

.title {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.0rem;
}

.title h1 {
    color: #f77b1d;
}

.title h2 {
    color: #c7c6c9;
    transition: 500ms;
}

.title h2:hover {
    color: plum;
    transform: translate(-10px);
}

/* Styling for the container section */
.main-container {
    min-height: 800px;
    width: 90%;
    border-radius: 45px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    margin-left: 70px;
    padding: 25px;
    animation: slideinleft;

}

@keyframes slideinleft {
    from {
        transform: translate(-300px);
    }

    to {
        transform: translate(0);
    }
}

.box-1 {
    position: relative;
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    /* border: 2px solid #37a1f2; */
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    animation: forwards;



}

/* 

.box-1::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#00ccff,#d500f9);
    animation: rotate 4s linear infinite;
}

.box-1::after{
    content: '';
    position: absolute;
    background: transparent;
    inset: 5px;
    border-radius: 16px;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */

.box-1 h3 {
    font-size: 25px;
    transition: 1s;
}

.box-1 h3:hover {
    color: #37a1f2;
    transform: translateY(-10px);
    animation: forwards;
}

.box-1 p {
    max-width: 300px;
    font-size: larger;
    margin-top: 5px;
    transition: 500ms ease-in;
    animation-duration: 3s;
}


.box-1 p:hover {
    color: #37a1f2;
    transform: translateY(20px);
}


.box-2 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.box-2 h3 {
    font-size: 25px;
    transition: 1s;
}

.box-2 h3:hover {
    color: #5cf237;
    transform: translateY(-10px);
    animation: forwards;
}

.box-2 p {
    max-width: 300px;
    transition: 3s;
    margin-top: 5px;

}


.box-2 p:hover {
    color: #5cf237;
    transform: translateY(20px);
}

.box-3 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.box-3 h3 {
    font-size: 25px;
    transition: 1s;
}

.box-3 h3:hover {
    color: #3610c0ad;
    transform: translateY(-10px);
    animation: forwards;
}

.box-3 p {
    max-width: 300px;
    transition: 3s;
    margin-top: 5px;

}


.box-3 p:hover {
    color: #3610c0ad;
    transform: translateY(20px);
}

.box-4 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;

    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.box-4 h3 {
    font-size: 25px;
    transition: 1s;
}

.box-4 h3:hover {
    color: #f237b4;
    transform: translateY(-10px);
    animation: forwards;
}

.box-4 p {
    max-width: 300px;
    transition: 3s;
    margin-top: 5px;

}


.box-4 p:hover {
    color: #f237b4;
    transform: translateY(20px);
}

.box-5 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.box-5 h3 {
    font-size: 22px;
    transition: 1s;
}

.box-5 h3:hover {
    color: rgb(224, 8, 8);
    transform: translateY(-10px);
    animation: forwards;
}

.box-5 p {
    max-width: 300px;
    transition: 3s;
    margin-top: 5px;

}


.box-5 p:hover {
    color: rgb(224, 8, 8);
    transform: translateY(20px);
}

.box-6 {
    height: 300px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.box-6 h3 {
    font-size: 22px;
    transition: 1s;
}

.box-6 h3:hover {
    color: #f2c637;
    transform: translateY(-10px);
    animation: forwards;
}

.box-6 p {
    max-width: 300px;
    transition: 2s;
    margin-top: 5px;

}


.box-6 p:hover {
    color: #f2c637;
    transform: translateY(20px);
}

.info {
    font-size: larger;
    font-weight: 800px;
}

.info:hover {
    text-transform: capitalize;
}

.box-7 {
    height: 330px;
    width: 320px;
    background: #d6d2dd;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.box-7 h3 {
    font-size: 22px;
    transition: 1s;
}

.box-7 h3:hover {
    color: rgb(163, 5, 163);
    transform: translateY(-10px);
}

.box-7 p {
    max-width: 300px;
    transition: 2s;
    margin-top: 5px;

}


.box-7 p:hover {
    color: rgb(163, 5, 163);
    transform: translateY(20px);
}

/* Styling of the Skills and Technology section */
.skills-container {
    width: 100%;
    height: 50%;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 35px;
}

.title-2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.0rem;
}

.title-2 h1 {
    color: #0ac733;
    transition: 2s;
}

.title-2 h1:hover {
    transform: translateY(-10px);
}

.title-2 h3 {
    color: #c7c6c9;
    transition: 500ms;
    font-size: 1.6rem;
}

.title-2 h3:hover {
    color: plum;
    transform: translate(-20px);
}

/* the skills icons */
.skills-icons {
    display: flex;
    gap: 20px;
    margin: 1rem;
    position: relative;
    justify-content: center;
}



.skills-icons a {
    border: 2px solid #8d8e8f;
    display: inline-flex;
    border-radius: 40px;
    padding: 40px;
    margin: 30px;
    background: #d4d7df;
    color: #0a0a0a;
    font-size: 3.0rem;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    justify-items: center;
    transition: 500ms ease;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: 2;
    /* animation-delay: 1s; */
}

.skills-icons a:hover {
    background: #37a1f2;
    color: #f0f0f0;
    overflow: hidden;
}

@keyframes spin {
    0% {}

    50% {
        scale: 0.5;
    }

    100% {
        transform: rotate(360deg);
        scale: 0.5;
    }
}

/* Footer Styling */
.title-3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.0rem;
}

.title-3 h1 {
    color: #37a1f2;
    transition: 2s;
}

.title-3 h1:hover {
    transform: translateY(-10px);
}

.title-3 h2 {
    color: #c7c6c9;
    transition: 500ms;
    font-size: 1.6rem;
}

.title-3 h2:hover {
    color: plum;
    transform: translate(-20px);
}

.section-footer {
    background: #ffffff;
    /* background-image: url(images/footer_image.png); */
    width: 100%;
    height: 90%;
    padding: 60px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation: forwards;
    animation-duration: 3s;

}


/* About section css */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5em;
    background: #c7c6c9;
    padding: 40px;
    margin: 40px;
    border-radius: 45px;
}

.about .img-about {
    text-align: center;
    position: relative;
}

.about .img-about img {
    max-width: 400px;
    height: auto;
    border-radius: 45px;

}

.about-content1 {
    padding: 40px;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    background: transparent;
}





.about-content1 span {
    color: #0ac733;
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: solid;
    text-shadow: #0ac733;
    transition: 2s;
}

.about-content1 span:hover {
    color: #4d504e;
    transform: translateY(-20px);

}

.about-content1 h1 {
    color: var(--hover-color);
    font-weight: 700;
    font-size: 2.0rem;
    transition: 2s;
}


.about-content1 h1:hover {
    color: gray;
    transform: translateY(20px);
}

.about-content1 p {
    color: #4d4d4d;
    margin: 1.5rem;
    animation: forwards;
    animation-duration: 3s;
    font-size: larger;
    transition: 2s;
}

.about-content1 p:hover {
 color: #3610c0ad;
    transform: translateY(20px);
}




.two-icons{
    margin-top: 30px;
}

.info-about1 .info{
    font-size: 1.0rem;
    position: absolute;
    background: var(--bg-color);
    width: 60px;
    height: 50px;
    padding: 8px;
    display: block;
    border-radius: 5px;
    border: 2px solid black;
    animation: morph 6s linear infinite;
}

.btn-box-1{
     display: inline-block;
    padding: 10px 25px;
    background: #37a1f2;
    border: 2px solid #37a1f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #f0f0f0;
    transition: 1s ease;
    /* z-index: 1; */
    box-shadow: 0 0 0.3rem #37a1f2;

}

.btn-box-1:hover {
    background: transparent;
    color: #37a1f2;
    /* scale: 0.1; */
    transform: translateY(10px);

}
